@model StudentManagmrnt.Models.StudentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
           

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsGraduated" /> @Html.DisplayNameFor(model => model.IsGraduated)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* // used to dynamically create input feild 
<div class="form-group">
    <label asp-for="Courses" class="control-label">Courses</label>
    <div id="courses-container">
        <input class="form-control course-input" />
        <button type="button" id="add-course">Add Course</button>
    </div>
    <span asp-validation-for="Courses" class="text-danger"></span>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('add-course').addEventListener('click', function () {
            const coursesContainer = document.getElementById('courses-container');
            const courseInput = document.createElement('input');
            courseInput.classList.add('form-control', 'course-input');
            coursesContainer.insertBefore(courseInput, this);
        });
    });
</script> *@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
